* {
    box-sizing: border-box;
}

.row::after {
    content: "";
    clear: both;
    display: block;
}

[class*="col-"] {
    float: left;
    padding: 0;
    width: 100%
}

@import url('https://fonts.googleapis.com/css?family=orbitron&display=swap');
body{
	padding: 0;
	margin: 0;
	background:#f4f4f4;
}
html,h1,h2,h3,h4,h5,h6,a{
	font-family: "Raleway";
}
.navbar {
    background-color: #000;
    min-height: 4em;
    width: 100%;
}

.nav-link,
.navbar-brand {
    color: #fff;
    cursor: pointer;
}
.navbar>img{
    height: 4em
}
.nav-link {
    margin-right: 1em !important;
}

.nav-link>i {
    margin-right: 1em
}

.nav-link:hover {
    background: #00A0CE;
    color: #f4f4f4;
}

.navbar-collapse {
    justify-content: flex-end;
}

.navbar-toggler {
    background: #00A0CE!important;
}

.custom-toggler.navbar-toggler {
    border-color: #f4f4f4;
}


/* Setting the stroke to green using rgb values (0, 128, 0) */

.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(254, 254, 254)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
/*header style*/


.about{
	margin: 7em 0;
	padding: 1em;
	position: relative;
}
.intro{
    text-align: center;
    margin-bottom: 2em;
}
.intro>p{
    margin-bottom: 2em
}
.intro>a{
    color: orangered !important;
    
}
form{
    margin: 0 auto;
    width: 20em
}
.form-group{
    margin: 3em
}
.wrapper{
    margin: 0 auto;
    width: 7em
}
button{
 width: 7em ;
 background-color: orangered !important;
    color: white !important;
    margin-top: 2em !important;
}
input{
  box-shadow:  4px 4px 4px 0.05px #e5e4e2;
  background-color: whitesmoke;
  border: 1px solid whitesmoke !important;
    
}
.create{
    text-align: center;
    margin-top: 2em;
    margin-bottom: 3em;
    
}
.create>a{
    color: orangered !important;
}
.icon1{
   text-align: right ;
    color: orangered;
}
.icon2{
    text-align: left;
    color: orangered;
}
.icon1>a,.icon2>a{
   color: orangered !important; 
}