html{
  height: 100%
}
body{
  height: inherit
}

nav.navbar{
  background-image: linear-gradient(to right, rgb(42, 42, 255),blue);
  margin-bottom: 5px;
  color: white;
}

nav.navbar > .navbar-brand{
  color: white;
}

.nav-item > .nav-link{
  color: white;
}

ul.navbar-nav{
  display: flex;
  width: 60%;
  justify-content: space-evenly;
}
